@using EntityLayer.Concrete
@model List<Education>

<div class="resume-section-content">
    <h2 class="mb-5">Eğitim</h2>
    @foreach (var item in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.SchoolName</h3>
                <div class="subheading mb-3">@item.Faculty</div>
                <div>@item.Part</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@item.EducationDate</span></div>
        </div>
    }
   
</div>