
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="~/skydash/text/css" href="js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/Admin/Index"><img src="~/skydash/images/logo.svg" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Admin/Index"><img src="~/skydash/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/skydash/images/faces/face28.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Ayarlar
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Çıkış Yap
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR Arka Plan</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Açık</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Koyu</div>
                    <p class="settings-heading mt-2">HEADER Arka Plan</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" href="/Admin/Hakkımda">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Hakkımda</span>
                        </a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" href="/Experience/Index/">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Deneyimlerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Education/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Eğitim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Skill/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Yetenekler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hobby/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">İlgi Alanlarım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Certificate/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Sertifikalarım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/SocialMedia/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Sosyal Medya</span>
                        </a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/Main/Index" target="_blank">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Siteye Git</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            @RenderBody()
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/skydash/vendors/chart.js/Chart.min.js"></script>
    <script src="~/skydash/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/skydash/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/skydash/js/dashboard.js"></script>
    <script src="~/skydash/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>


